<p>Our Dataset is composed of mental health and frequency of mental health disorders in the tech workplace.</p>
<h3>Question to responde: Taking a medical leave for a mental health condition?</h3>
<p>What the most influencing features for then to take a leave or not.</p>
<p>In this dataset the response for talking a leave is:</p>
<ul>
    <li>Don't know: 563</li>
    <li>Somewhat easy: 266</li>
    <li>Very easy: 206</li>
    <li>Somewhat difficult: 126</li>
</ul>
<p> The model is going to be train and an API in going to be available to test new cases.</p>

## Data set Mental Health in TI

<p>"This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorders in the tech workplace."(From Kanggle)</p>
<p> link: <a href="https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey?resource=download&select=survey.csv">Data source Kanggle</a></p>
<p>Version 1.2 - 28/05/2022</p>

In [1]:
## imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### 1 Data Collection

In [2]:
df = pd.read_csv("data/survey.csv")
df['leave'].value_counts()

Don't know            563
Somewhat easy         266
Very easy             206
Somewhat difficult    126
Very difficult         98
Name: leave, dtype: int64

### 2 Data Understanding

In [3]:
df.shape

(1259, 27)

In [4]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
#Tipos das colunas
df.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [6]:
# Quantidades de linhas do dataset
len(df)

1259

In [7]:
#Soma nulos por Coluna
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [8]:
# Soma todos os NaN do dataset
df.isna().sum().sum()

1892

### 3 Data Preparation

#### Dealing with missing values
<p>Missing values in columns</p>
<ul>
<li>state - 515</li>
<li>self_employed - 18</li>
<li>work_interfere - 264</li>
<li>comments - 1095</li>
</ul>

In [9]:
# Put "Not informed" in NaN to state column
# Column: state - 515 NaN
df['state'].replace(np.nan, "Not informed", inplace=True)

In [10]:
# Column: work_interfere - 264 NaN
df['work_interfere']

0           Often
1          Rarely
2          Rarely
3           Often
4           Never
          ...
1254          NaN
1255        Often
1256    Sometimes
1257          NaN
1258    Sometimes
Name: work_interfere, Length: 1259, dtype: object

In [11]:
# Sum NaN Again
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                           0
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

#### Dropping variables

In [12]:
# Drop column: comments
df.drop(["comments"], axis=1, inplace=True)

In [13]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [14]:
# Sum of null values
df.isnull().sum()

Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                          0
self_employed                 18
family_history                 0
treatment                      0
work_interfere               264
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

### Exploração Analítica (EDA)

In [15]:
categorical_features = df.columns[df.dtypes == object]
numerical_features = df.columns[df.dtypes != object]

In [16]:
categorical_features

Index(['Timestamp', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [17]:
numerical_features

Index(['Age'], dtype='object')

In [18]:
# Drop column: Timestamp
df.drop(["Timestamp"], axis=1, inplace=True)

### Target: seek_help

In [19]:
df['seek_help'].value_counts( normalize=True ) * 100

No            51.310564
Don't know    28.832407
Yes           19.857029
Name: seek_help, dtype: float64

In [20]:
df['seek_help'].describe()

count     1259
unique       3
top         No
freq       646
Name: seek_help, dtype: object

In [21]:
# Check quantity of categories
df['Gender'].value_counts( normalize=True ) * 100

Male                                              48.848292
male                                              16.362192
Female                                             9.610802
M                                                  9.213662
female                                             4.924543
F                                                  3.018268
m                                                  2.700556
f                                                  1.191422
Make                                               0.317712
Male                                               0.238284
Woman                                              0.238284
Cis Male                                           0.158856
Man                                                0.158856
Female (trans)                                     0.158856
Female                                             0.158856
Trans woman                                        0.079428
msle                                               0.079428
male leaning androgynous                           0.079428
Neuter                                             0.079428
cis male                                           0.079428
queer                                              0.079428
Female (cis)                                       0.079428
Mail                                               0.079428
cis-female/femme                                   0.079428
A little about you                                 0.079428
Malr                                               0.079428
p                                                  0.079428
femail                                             0.079428
Cis Man                                            0.079428
Guy (-ish) ^_^                                     0.079428
Enby                                               0.079428
Agender                                            0.079428
Androgyne                                          0.079428
Male-ish                                           0.079428
maile                                              0.079428
Trans-female                                       0.079428
Cis Female                                         0.079428
something kinda male?                              0.079428
Mal                                                0.079428
Male (CIS)                                         0.079428
queer/she/they                                     0.079428
non-binary                                         0.079428
Femake                                             0.079428
woman                                              0.079428
Nah                                                0.079428
All                                                0.079428
fluid                                              0.079428
Genderqueer                                        0.079428
ostensibly male, unsure what that really means     0.079428
Name: Gender, dtype: float64

In [22]:
df['Gender'].value_counts()

Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Male                                                3
Woman                                               3
Cis Male                                            2
Man                                                 2
Female (trans)                                      2
Female                                              2
Trans woman                                         1
msle                                                1
male leaning androgynous                            1
Neuter                                              1
cis male                                            1
queer                                               1
Female (cis)                                        1
Mail                                                1
cis-female/femme                                    1
A little about you                                  1
Malr                                                1
p                                                   1
femail                                              1
Cis Man                                             1
Guy (-ish) ^_^                                      1
Enby                                                1
Agender                                             1
Androgyne                                           1
Male-ish                                            1
maile                                               1
Trans-female                                        1
Cis Female                                          1
something kinda male?                               1
Mal                                                 1
Male (CIS)                                          1
queer/she/they                                      1
non-binary                                          1
Femake                                              1
woman                                               1
Nah                                                 1
All                                                 1
fluid                                               1
Genderqueer                                         1
ostensibly male, unsure what that really means      1
Name: Gender, dtype: int64

In [23]:
df['Gender'] = df['Gender'].map({'Male':1,'male':1,'Female':0,'M':1,'female':0,'F':0,'m':1,'f':0,'Make':1,'Male':1,
                                 'Woman':0,'Cis Male':2,'Man':1,'Female (trans)':2,'Female':0,'Trans woman':2,
                                 'msle':1,'male leaning androgynous':2,'Neuter':2,'cis male':2,'queer':2,
                                 'Female (cis)':2,'Mail':1,'cis-female/femme':2,'A little about you':2,
                                 'Malr':1,'p':2,'femail':0,'Cis Man':2,'Guy (-ish) ^_^':2,'Enby':2,'Agender' :2,
                                 'Androgyne':2,'Male-ish':2,'maile':1,'Trans-female':2,'Cis Female':2,
                                 'something kinda male?':2,'Mal':1,'Male (CIS)':2,'queer/she/they':2,
                                 'non-binary':2,'Femake':0,'woman':0,'Nah':2,'All':2,'fluid':2,'Genderqueer':2,
                                 'ostensibly male, unsure what that really means':2
                                })

In [24]:
df['Gender'].value_counts()
df['Gender'].describe()
df['Gender'].value_counts()

1.0    982
0.0    242
2.0     30
Name: Gender, dtype: int64

In [25]:
df[df['Gender'].isnull()]

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
461,33,NaN,United States,CA,No,No,No,Never,500-1000,No,...,Don't know,Very easy,Maybe,No,Some of them,Yes,No,No,Yes,No
631,56,NaN,United States,MA,No,Yes,Yes,Rarely,6-25,No,...,Don't know,Don't know,Yes,Maybe,Some of them,Some of them,No,No,Don't know,No
953,36,NaN,United States,WA,No,Yes,Yes,Rarely,6-25,No,...,Don't know,Don't know,Yes,Maybe,Some of them,No,No,No,Don't know,No
1058,31,NaN,Canada,Not informed,No,Yes,Yes,Often,More than 1000,No,...,Don't know,Don't know,Maybe,No,Some of them,No,No,Maybe,Don't know,No
1223,23,NaN,United Kingdom,Not informed,No,No,No,Never,26-100,No,...,Don't know,Somewhat easy,Maybe,No,Some of them,Some of them,No,Maybe,Yes,Yes

#### Change Categorical values for Numeric

In [26]:
df['self_employed'] = df['self_employed'].map({'Yes':1, 'No':0})
df['family_history'] = df['family_history'].map({'Yes':1,'No':0})
df['treatment'] = df['treatment'].map({'Yes':1,'No':0})
df['remote_work'] = df['remote_work'].map({'Yes':1,'No':0})
df['tech_company'] = df['tech_company'].map({'Yes':1,'No':0})
df['obs_consequence'] = df['obs_consequence'].map({'Yes':1,'No':0})
df['work_interfere_num'] = pd.factorize(df['work_interfere'])[0]

#### More than two options in Categorical values - use pd.factorize

In [27]:
df['seek_help_num'] = pd.factorize(df['seek_help'])[0]

In [28]:
df['seek_help_num'].value_counts()

2    646
1    363
0    250
Name: seek_help_num, dtype: int64

In [31]:
#Work interfere
df[['work_interfere_num','work_interfere']].value_counts( normalize=True ) * 100

work_interfere_num  work_interfere
3                   Sometimes         46.733668
2                   Never             21.407035
1                   Rarely            17.386935
0                   Often             14.472362
dtype: float64