<p>Our Dataset is composed of mental health and frequency of mental health disorders in the tech workplace.</p>
<h2>Question to responde:</h2>
<h3>Taking treatment for a mental health condition?</h3>
<p>1. What are the most influencing features?</p>
<p>2. In this dataset is able to response if a person is talking a treatment or not?</p>
<h4>The Dataset:</h4>
<p>Size: 1259 rows e 27 features</p>
<ul>
    <li>Yes:50.595711</li>
    <li>No:49.404289</li>
</ul>
<p> The model is going to be train and an API in going to be available to test new cases.</p>

## Data set Mental Health in TI

<p>"This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorders in the tech workplace."(From Kanggle)</p>
<p> link: <a href="https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey?resource=download&select=survey.csv">Data source Kanggle</a></p>
<p>Version 2.0 - 12/10/2022</p>

In [1]:
## imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## 1 Data Collection

In [2]:
# Lendo arquivo
df = pd.read_csv("data/survey.csv")

## 2 Data Understanding

In [3]:
df.shape

(1259, 27)

In [4]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
#Tipos das colunas
df.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [6]:
#Soma nulos por Coluna
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [7]:
# Soma todos os NaN do dataset
df.isna().sum().sum()

1892

## 3 Data Preparation

### Dealing with missing values
<p>Missing values in columns</p>
<ul>
<li>state - 515</li>
<li>self_employed - 18</li>
<li>work_interfere - 264</li>
<li>comments - 1095</li>
</ul>

#### Dropping Columns

In [8]:
# Drop column: comments
df.drop(["comments"], axis=1, inplace=True)
# Drop TimeStamp
df.drop(["Timestamp"], axis=1, inplace=True)

In [9]:
df.columns

Index(['Age', 'Gender', 'Country', 'state', 'self_employed', 'family_history',
       'treatment', 'work_interfere', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [10]:
# Sum of null values
df.isnull().sum()

Age                            0
Gender                         0
Country                        0
state                        515
self_employed                 18
family_history                 0
treatment                      0
work_interfere               264
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

#### Replacing with null values
<ul>
<li>self_employed - 18</li>
<li>work_interfere - 264</li>
<li>state - 515</li>
</ul>

In [11]:
df['self_employed'].value_counts(dropna=False)

No     1095
Yes     146
NaN      18
Name: self_employed, dtype: int64

In [12]:
df['work_interfere'].value_counts(dropna=False)

Sometimes    465
NaN          264
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

In [13]:
df['state'].value_counts(dropna=False)

NaN    515
CA     138
WA      70
NY      57
TN      45
TX      44
OH      30
IL      29
OR      29
PA      29
IN      27
MI      22
MN      21
MA      20
FL      15
NC      14
VA      14
WI      12
GA      12
MO      12
UT      11
CO       9
MD       8
AL       8
AZ       7
OK       6
NJ       6
KY       5
SC       5
IA       4
CT       4
DC       4
NV       3
VT       3
SD       3
KS       3
NH       3
WY       2
NM       2
NE       2
WV       1
ID       1
MS       1
RI       1
LA       1
ME       1
Name: state, dtype: int64

#### Interpole data to self_employed and work_interfere

In [14]:
df['self_employed'].fillna('Not Informed', inplace=True)
df['work_interfere'].fillna('Not Informed', inplace=True)
df['state'].fillna('Not Informed', inplace=True)

In [15]:
df['self_employed'].value_counts(dropna=False)

No              1095
Yes              146
Not Informed      18
Name: self_employed, dtype: int64

In [16]:
df['work_interfere'].value_counts(dropna=False)

Sometimes       465
Not Informed    264
Never           213
Rarely          173
Often           144
Name: work_interfere, dtype: int64

In [17]:
df['state'].value_counts(dropna=False)

Not Informed    515
CA              138
WA               70
NY               57
TN               45
TX               44
OH               30
IL               29
OR               29
PA               29
IN               27
MI               22
MN               21
MA               20
FL               15
NC               14
VA               14
WI               12
GA               12
MO               12
UT               11
CO                9
MD                8
AL                8
AZ                7
OK                6
NJ                6
KY                5
SC                5
IA                4
CT                4
DC                4
NV                3
VT                3
SD                3
KS                3
NH                3
WY                2
NM                2
NE                2
WV                1
ID                1
MS                1
RI                1
LA                1
ME                1
Name: state, dtype: int64

In [18]:
df.isnull().sum()

Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

### ExploraÃ§Ã£o AnalÃ­tica (EDA)

In [19]:
categorical_features = df.columns[df.dtypes == object]
numerical_features = df.columns[df.dtypes != object]

In [20]:
categorical_features

Index(['Gender', 'Country', 'state', 'self_employed', 'family_history',
       'treatment', 'work_interfere', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [21]:
numerical_features

Index(['Age'], dtype='object')

In [22]:
# Quantity of categorical features - 24
len(categorical_features)

24

In [23]:
# Unique fields in each feature

In [24]:
def unique_features(features):
    dict_features ={}
    for feature in features:
        dict_features[feature] = features[feature].value_counts()
    return dict_features

In [25]:
unique_f = unique_features(df)

In [26]:
unique_f

{'Age':  29             85
  32             82
  26             75
  27             71
  33             70
  28             68
  31             67
  34             65
  30             63
  25             61
  35             55
  23             51
  24             46
  37             43
  38             39
  36             37
  40             33
  39             33
  43             28
  22             21
  41             21
  42             20
  21             16
  45             12
  46             12
  44             11
  19              9
  18              7
  48              6
  50              6
  20              6
  51              5
  49              4
  56              4
  57              3
  54              3
  55              3
  47              2
  60              2
  99999999999     1
  5               1
 -1               1
  11              1
  8               1
  61              1
  53              1
 -29              1
 -1726            1
  65              1
  62              1
  58              1
  329             1
  72              1
 Name: Age, dtype: int64,
 'Gender': Male                                              615
 male                                              206
 Female                                            121
 M                                                 116
 female                                             62
 F                                                  38
 m                                                  34
 f                                                  15
 Make                                                4
 Male                                                3
 Woman                                               3
 Cis Male                                            2
 Man                                                 2
 Female (trans)                                      2
 Female                                              2
 Trans woman                                         1
 msle                                                1
 male leaning androgynous                            1
 Neuter                                              1
 cis male                                            1
 queer                                               1
 Female (cis)                                        1
 Mail                                                1
 cis-female/femme                                    1
 A little about you                                  1
 Malr                                                1
 p                                                   1
 femail                                              1
 Cis Man                                             1
 Guy (-ish) ^_^                                      1
 Enby                                                1
 Agender                                             1
 Androgyne                                           1
 Male-ish                                            1
 maile                                               1
 Trans-female                                        1
 Cis Female                                          1
 something kinda male?                               1
 Mal                                                 1
 Male (CIS)                                          1
 queer/she/they                                      1
 non-binary                                          1
 Femake                                              1
 woman                                               1
 Nah                                                 1
 All                                                 1
 fluid                                               1
 Genderqueer                                         1
 ostensibly male, unsure what that really means      1
 Name: Gender, dtype: int64,
 'Country': United States             751
 United Kingdom            185
 Canada                     72
 Germany                    45
 Ireland                    27
 Netherlands                27
 Australia                  21
 France                     13
 India                      10
 New Zealand                 8
 Poland                      7
 Switzerland                 7
 Sweden                      7
 Italy                       7
 South Africa                6
 Belgium                     6
 Brazil                      6
 Israel                      5
 Singapore                   4
 Bulgaria                    4
 Austria                     3
 Finland                     3
 Mexico                      3
 Russia                      3
 Denmark                     2
 Greece                      2
 Colombia                    2
 Croatia                     2
 Portugal                    2
 Moldova                     1
 Georgia                     1
 Bahamas, The                1
 China                       1
 Thailand                    1
 Czech Republic              1
 Norway                      1
 Romania                     1
 Nigeria                     1
 Japan                       1
 Hungary                     1
 Bosnia and Herzegovina      1
 Uruguay                     1
 Spain                       1
 Zimbabwe                    1
 Latvia                      1
 Costa Rica                  1
 Slovenia                    1
 Philippines                 1
 Name: Country, dtype: int64,
 'state': Not Informed    515
 CA              138
 WA               70
 NY               57
 TN               45
 TX               44
 OH               30
 IL               29
 OR               29
 PA               29
 IN               27
 MI               22
 MN               21
 MA               20
 FL               15
 NC               14
 VA               14
 WI               12
 GA               12
 MO               12
 UT               11
 CO                9
 MD                8
 AL                8
 AZ                7
 OK                6
 NJ                6
 KY                5
 SC                5
 IA                4
 CT                4
 DC                4
 NV                3
 VT                3
 SD                3
 KS                3
 NH                3
 WY                2
 NM                2
 NE                2
 WV                1
 ID                1
 MS                1
 RI                1
 LA                1
 ME                1
 Name: state, dtype: int64,
 'self_employed': No              1095
 Yes              146
 Not Informed      18
 Name: self_employed, dtype: int64,
 'family_history': No     767
 Yes    492
 Name: family_history, dtype: int64,
 'treatment': Yes    637
 No     622
 Name: treatment, dtype: int64,
 'work_interfere': Sometimes       465
 Not Informed    264
 Never           213
 Rarely          173
 Often           144
 Name: work_interfere, dtype: int64,
 'no_employees': 6-25              290
 26-100            289
 More than 1000    282
 100-500           176
 1-5               162
 500-1000           60
 Name: no_employees, dtype: int64,
 'remote_work': No     883
 Yes    376
 Name: remote_work, dtype: int64,
 'tech_company': Yes    1031
 No      228
 Name: tech_company, dtype: int64,
 'benefits': Yes           477
 Don't know    408
 No            374
 Name: benefits, dtype: int64,
 'care_options': No          501
 Yes         444
 Not sure    314
 Name: care_options, dtype: int64,
 'wellness_program': No            842
 Yes           229
 Don't know    188
 Name: wellness_program, dtype: int64,
 'seek_help': No            646
 Don't know    363
 Yes           250
 Name: seek_help, dtype: int64,
 'anonymity': Don't know    819
 Yes           375
 No             65
 Name: anonymity, dtype: int64,
 'leave': Don't know            563
 Somewhat easy         266
 Very easy             206
 Somewhat difficult    126
 Very difficult         98
 Name: leave, dtype: int64,
 'mental_health_consequence': No       490
 Maybe    477
 Yes      292
 Name: mental_health_consequence, dtype: int64,
 'phys_health_consequence': No       925
 Maybe    273
 Yes       61
 Name: phys_health_consequence, dtype: int64,
 'coworkers': Some of them    774
 No              260
 Yes             225
 Name: coworkers, dtype: int64,
 'supervisor': Yes             516
 No              393
 Some of them    350
 Name: supervisor, dtype: int64,
 'mental_health_interview': No       1008
 Maybe     207
 Yes        44
 Name: mental_health_interview, dtype: int64,
 'phys_health_interview': Maybe    557
 No       500
 Yes      202
 Name: phys_health_interview, dtype: int64,
 'mental_vs_physical': Don't know    576
 Yes           343
 No            340
 Name: mental_vs_physical, dtype: int64,
 'obs_consequence': No     1075
 Yes     184
 Name: obs_consequence, dtype: int64}

### Engenharia de Features

#### 1 - Numerical Values

In [27]:
## min: -1726 and MAX: 99999999999
## get the Median and substitute
df['Age'].median()

31.0

In [28]:
# Ages > 100  => 329,99999999999
df[df['Age']>100]

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
364,329,Male,United States,OH,No,No,Yes,Often,6-25,Yes,...,Don't know,Don't know,Maybe,No,Some of them,No,No,No,No,No
390,99999999999,All,Zimbabwe,Not Informed,Yes,Yes,Yes,Often,1-5,No,...,No,Very difficult,Yes,Yes,No,No,Yes,No,No,Yes

In [29]:
# Ages < 15 => -29, -1726, 5, 8, 11, -1
df[df['Age']<15]

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
143,-29,Male,United States,MN,No,No,No,Not Informed,More than 1000,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,No,No,Don't know,No
715,-1726,male,United Kingdom,Not Informed,No,No,Yes,Sometimes,26-100,No,...,Don't know,Somewhat difficult,Yes,No,No,No,No,Maybe,Don't know,No
734,5,Male,United States,OH,No,No,No,Not Informed,100-500,No,...,Don't know,Somewhat easy,No,No,Yes,Yes,No,No,Yes,No
989,8,A little about you,"Bahamas, The",IL,Yes,Yes,Yes,Often,1-5,Yes,...,Yes,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
1090,11,male,United States,OH,Yes,No,No,Never,1-5,Yes,...,Yes,Very easy,No,No,Some of them,Some of them,No,Maybe,Yes,No
1127,-1,p,United States,AL,Yes,Yes,Yes,Often,1-5,Yes,...,Yes,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [30]:
# If Age > 100 or Age < 15  = Median 
df.loc[df.Age > 100, 'Age'] = df['Age'].median()
df.loc[df.Age < 15, 'Age'] = df['Age'].median()

#### 2 - Categorical Values

#### 2.1 - Gender

In [31]:
# Check quantity of categories
df['Gender'].value_counts( normalize=True ) * 100

Male                                              48.848292
male                                              16.362192
Female                                             9.610802
M                                                  9.213662
female                                             4.924543
F                                                  3.018268
m                                                  2.700556
f                                                  1.191422
Make                                               0.317712
Male                                               0.238284
Woman                                              0.238284
Cis Male                                           0.158856
Man                                                0.158856
Female (trans)                                     0.158856
Female                                             0.158856
Trans woman                                        0.079428
msle                                               0.079428
male leaning androgynous                           0.079428
Neuter                                             0.079428
cis male                                           0.079428
queer                                              0.079428
Female (cis)                                       0.079428
Mail                                               0.079428
cis-female/femme                                   0.079428
A little about you                                 0.079428
Malr                                               0.079428
p                                                  0.079428
femail                                             0.079428
Cis Man                                            0.079428
Guy (-ish) ^_^                                     0.079428
Enby                                               0.079428
Agender                                            0.079428
Androgyne                                          0.079428
Male-ish                                           0.079428
maile                                              0.079428
Trans-female                                       0.079428
Cis Female                                         0.079428
something kinda male?                              0.079428
Mal                                                0.079428
Male (CIS)                                         0.079428
queer/she/they                                     0.079428
non-binary                                         0.079428
Femake                                             0.079428
woman                                              0.079428
Nah                                                0.079428
All                                                0.079428
fluid                                              0.079428
Genderqueer                                        0.079428
ostensibly male, unsure what that really means     0.079428
Name: Gender, dtype: float64

In [32]:
df['Gender'].describe()

count     1259
unique      49
top       Male
freq       615
Name: Gender, dtype: object

In [43]:
df['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [46]:
df['Gender'] = df['Gender'].map({'Female':0, 'M':1, 'Male':1, 'male':1, 'female':0, 'm':1, 'Male-ish':2, 'maile':1,\
                                 'Trans-female':2, 'Cis Female':2, 'F':0, 'something kinda male?':2,\
                                 'Cis Male':2, 'Woman':0, 'f':0, 'Mal':1, 'Male (CIS)':2, 'queer/she/they':2,\
                                 'non-binary':2, 'Femake':0, 'woman':0, 'Make':1, 'Nah':2, 'All':2, 'Enby':2,\
                                 'fluid':2, 'Genderqueer':2, 'Female ':0, 'Androgyne':2, 'Agender':2,\
                                 'cis-female/femme':2, 'Guy (-ish) ^_^':2, 'male leaning androgynous':2,\
                                 'Male ':1, 'Man':1, 'Trans woman':2, 'msle':1, 'Neuter':2, 'Female (trans)':2,\
                                 'queer':2, 'Female (cis)':2, 'Mail':1, 'cis male':2, 'A little about you':2,\
                                 'Malr':1, 'p':2, 'femail':0, 'Cis Man':2,\
                                 'ostensibly male, unsure what that really means':2
                                })

In [47]:
df['Gender'].describe()

count    1259.000000
mean        0.830024
std         0.434616
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: Gender, dtype: float64

In [35]:
df.describe(include="all")

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1259.000000,1259,1259,1259,1259,1259,1259,1259,1259,1259,...,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259
unique,NaN,49,48,46,3,2,2,5,6,2,...,3,5,3,3,3,3,3,3,3,2
top,NaN,Male,United States,Not Informed,No,No,Yes,Sometimes,6-25,No,...,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No
freq,NaN,615,751,515,1095,767,637,465,290,883,...,819,563,490,925,774,516,1008,557,576,1075
mean,32.069897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7.265565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df[df['Gender'].isnull()]

Empty DataFrame
Columns: [Age, Gender, Country, state, self_employed, family_history, treatment, work_interfere, no_employees, remote_work, tech_company, benefits, care_options, wellness_program, seek_help, anonymity, leave, mental_health_consequence, phys_health_consequence, coworkers, supervisor, mental_health_interview, phys_health_interview, mental_vs_physical, obs_consequence]
Index: []

[0 rows x 25 columns]

#### Change Categorical values for Numeric

In [37]:
df['self_employed'] = df['self_employed'].map({'Yes':1, 'No':0})
df['family_history'] = df['family_history'].map({'Yes':1,'No':0})
df['treatment'] = df['treatment'].map({'Yes':1,'No':0})
df['remote_work'] = df['remote_work'].map({'Yes':1,'No':0})
df['tech_company'] = df['tech_company'].map({'Yes':1,'No':0})
df['obs_consequence'] = df['obs_consequence'].map({'Yes':1,'No':0})
df['work_interfere_num'] = pd.factorize(df['work_interfere'])[0]

#### More than two options in Categorical values - use pd.factorize

In [38]:
df['seek_help_num'] = pd.factorize(df['seek_help'])[0]

In [39]:
df['seek_help_num'].value_counts()

2    646
1    363
0    250
Name: seek_help_num, dtype: int64

In [40]:
#Work interfere
df[['work_interfere_num','work_interfere']].value_counts( normalize=True ) * 100

work_interfere_num  work_interfere
3                   Sometimes         36.934075
4                   Not Informed      20.969023
2                   Never             16.918189
1                   Rarely            13.741064
0                   Often             11.437649
dtype: float64

### Target: leave

In [41]:
df['treatment'].value_counts( normalize=True ) * 100

1    50.595711
0    49.404289
Name: treatment, dtype: float64

In [42]:
df['treatment'].describe()

count    1259.000000
mean        0.505957
std         0.500163
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: treatment, dtype: float64