<p>Our Dataset is composed of mental health and frequency of mental health disorders in the tech workplace.</p>
<h2>Question to responde:</h2>
<h3>Taking treatment for a mental health condition?</h3>
<p>1. What are the most influencing features?</p>
<p>2. In this dataset is able to response if a person is talking a treatment or not?</p>
<h4>The Dataset:</h4>
<p>Size: 1259 rows e 27 features</p>
<ul>
    <li>Yes:50.595711</li>
    <li>No:49.404289</li>
</ul>
<p> The model is going to be train and an API in going to be available to test new cases.</p>

## Data set Mental Health in TI

<p>"This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorders in the tech workplace."(From Kanggle)</p>
<p> link: <a href="https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey?resource=download&select=survey.csv">Data source Kanggle</a></p>
<p>Version 1.2 - 28/05/2022</p>

In [1]:
## imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## 1 Data Collection

In [2]:
# Lendo arquivo
df = pd.read_csv("data/survey.csv")

## 2 Data Understanding

In [3]:
df.shape

(1259, 27)

In [4]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
#Tipos das colunas
df.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [7]:
#Soma nulos por Coluna
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [8]:
# Soma todos os NaN do dataset
df.isna().sum().sum()

1892

## 3 Data Preparation

### Dealing with missing values
<p>Missing values in columns</p>
<ul>
<li>state - 515</li>
<li>self_employed - 18</li>
<li>work_interfere - 264</li>
<li>comments - 1095</li>
</ul>

#### Dropping Columns

In [9]:
# Drop column: comments
df.drop(["comments"], axis=1, inplace=True)
# Drop TimeStamp
df.drop(["Timestamp"], axis=1, inplace=True)

In [10]:
df.columns

Index(['Age', 'Gender', 'Country', 'state', 'self_employed', 'family_history',
       'treatment', 'work_interfere', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [11]:
# Sum of null values
df.isnull().sum()

Age                            0
Gender                         0
Country                        0
state                        515
self_employed                 18
family_history                 0
treatment                      0
work_interfere               264
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

#### Replacing with null values
<ul>
<li>self_employed - 18</li>
<li>work_interfere - 264</li>
</ul>

In [12]:
df['self_employed'].value_counts(dropna=False)

No     1095
Yes     146
NaN      18
Name: self_employed, dtype: int64

In [13]:
df['work_interfere'].value_counts(dropna=False)

Sometimes    465
NaN          264
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

#### Interpole data to self_employed and work_interfere

In [14]:
df['self_employed'].fillna('Not Informed', inplace=True)
df['work_interfere'].fillna('Not Informed', inplace=True)

In [15]:
df['self_employed'].value_counts(dropna=False)

No              1095
Yes              146
Not Informed      18
Name: self_employed, dtype: int64

In [16]:
df['work_interfere'].value_counts(dropna=False)

Sometimes       465
Not Informed    264
Never           213
Rarely          173
Often           144
Name: work_interfere, dtype: int64

In [22]:
df.isnull().sum()

Age                            0
Gender                         0
Country                        0
state                        515
self_employed                  0
family_history                 0
treatment                      0
work_interfere                 0
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

### ExploraÃ§Ã£o AnalÃ­tica (EDA)

In [17]:
categorical_features = df.columns[df.dtypes == object]
numerical_features = df.columns[df.dtypes != object]

In [18]:
categorical_features

Index(['Gender', 'Country', 'state', 'self_employed', 'family_history',
       'treatment', 'work_interfere', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [19]:
numerical_features

Index(['Age'], dtype='object')

### Engenharia de Features

In [ ]:
# Check quantity of categories
df['Gender'].value_counts( normalize=True ) * 100

In [ ]:
df['Gender'].value_counts()

In [ ]:
df['Gender'] = df['Gender'].map({'Male':1,'male':1,'Female':0,'M':1,'female':0,'F':0,'m':1,'f':0,'Make':1,'Male':1,
                                 'Woman':0,'Cis Male':2,'Man':1,'Female (trans)':2,'Female':0,'Trans woman':2,
                                 'msle':1,'male leaning androgynous':2,'Neuter':2,'cis male':2,'queer':2,
                                 'Female (cis)':2,'Mail':1,'cis-female/femme':2,'A little about you':2,
                                 'Malr':1,'p':2,'femail':0,'Cis Man':2,'Guy (-ish) ^_^':2,'Enby':2,'Agender' :2,
                                 'Androgyne':2,'Male-ish':2,'maile':1,'Trans-female':2,'Cis Female':2,
                                 'something kinda male?':2,'Mal':1,'Male (CIS)':2,'queer/she/they':2,
                                 'non-binary':2,'Femake':0,'woman':0,'Nah':2,'All':2,'fluid':2,'Genderqueer':2,
                                 'ostensibly male, unsure what that really means':2
                                })

In [ ]:
df['Gender'].value_counts()
df['Gender'].describe()
df['Gender'].value_counts()

In [ ]:
df[df['Gender'].isnull()]

#### Change Categorical values for Numeric

In [ ]:
df['self_employed'] = df['self_employed'].map({'Yes':1, 'No':0})
df['family_history'] = df['family_history'].map({'Yes':1,'No':0})
df['treatment'] = df['treatment'].map({'Yes':1,'No':0})
df['remote_work'] = df['remote_work'].map({'Yes':1,'No':0})
df['tech_company'] = df['tech_company'].map({'Yes':1,'No':0})
df['obs_consequence'] = df['obs_consequence'].map({'Yes':1,'No':0})
df['work_interfere_num'] = pd.factorize(df['work_interfere'])[0]

#### More than two options in Categorical values - use pd.factorize

In [ ]:
df['seek_help_num'] = pd.factorize(df['seek_help'])[0]

In [ ]:
df['seek_help_num'].value_counts()

In [ ]:
#Work interfere
df[['work_interfere_num','work_interfere']].value_counts( normalize=True ) * 100

### Target: leave

In [25]:
df['treatment'].value_counts( normalize=True ) * 100

Yes    50.595711
No     49.404289
Name: treatment, dtype: float64

In [26]:
df['treatment'].describe()

count     1259
unique       2
top        Yes
freq       637
Name: treatment, dtype: object